
@font-face {
    font-family: 'LilitaOne';
    src: url(fonts/LilitaOne.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'lilitaOne', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #2c2f40;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 

.banner::before{
    content: attr(data-text);
    position: absolute;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12em;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    z-index: 1;
}

.banner::after{
    content: attr(data-text);
    position: absolute;
    inset: 0;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12em;
    color: #fff ;
    -webkit-text-stroke: 1px #fff;
    z-index: 2;
    clip-path: circle(0px at var(--x) var(--y));
    transition: clip-path 0.1;
    background: url(img/okean_vid_sverhu_plovtsy_130170_2560x1600.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:hover::after{
    clip-path: circle(250px at var(--x) var(--y));
}